
body {
	background: #fff;
	padding-top: 66px;
	color: #222;
	font-size: 12px;
	font-family: Microsoft Yahei, PingFang SC, HanHei SC, Arial;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
@media screen and (max-width:1010px) {
body {
	overflow-x: auto;
}
}
@media screen and (max-width:1320px) {
body {
	padding: 0 10px;
}
}
img {
	border: 0;
}
ul {
	margin: 0;
	list-style: none;
}
ol {
	margin: 0;
	padding: 0;
}
a {
	color: #222;
	text-decoration: none;
}
a:hover {
	color: #d22222;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
}
.bb {
	width: 1200px;
	margin: 0 auto;
}
#list {
	margin-top: 20px;
	position: relative;
	min-height: 800px;
}
@media screen and (max-width:1320px) {
#list {
	margin-top: 25px;
}
}
.sitemap h1 {
	margin-bottom: 0px;
}
@media screen and (max-width:1320px) {
.sitemap h1 {
	margin-bottom: 30px;
}
}
.sitemap dl {
	margin: 0;
	padding: 0;
	font-size: 16px;
	clear: both;
	overflow: hidden;
}
@media screen and (max-width:1320px) {
.sitemap dl {
	font-size: 14px;
}
}
.sitemap dl:nth-child(even) {
	background-color: #fafafa;
}
.sitemap dl dt {
	margin: 0;
	padding: 0;
	float: left;
	width: 120px;
	padding-left: 20px;
	height: 54px;
	line-height: 54px;
}
@media screen and (max-width:1320px) {
.sitemap dl dt {
	width: 100px;
	height: 44px;
	line-height: 44px;
}
}
.sitemap dl dt a {
	color: #d22222;
}
.sitemap dl dd {
	margin: 0;
	float: left;
	overflow: hidden;
	padding: 7px 0;
	width: 1050px;
}
@media screen and (max-width:1320px) {
.sitemap dl dd {
	width: 840px;
	padding: 5px 0;
}
}
.sitemap dl dd a {
	display: block;
	float: left;
	padding: 0 20px;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 20px;
	border-right: 1px solid #d9dde0;
}
@media screen and (max-width:1320px) {
.sitemap dl dd a {
	padding: 0 15px;
	margin-top: 7px;
	margin-bottom: 7px;
}
}
.sitemap dl dd a:last-child {
	border-right: none;
}
