/*reset*/
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
}
body{position:relative;font-size:14px;background-color:white;overflow:auto;}
body, button, input, keygen, legend, select, textarea {
    font-family: "Microsoft Yahei","HanHei SC",PingHei,"PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font-weight: 400;
    color: #333;
    outline: 0;
    speak: none;
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {font-weight: 400; }
li {list-style: none; }
html, body, fieldset, img, iframe, abbr {border: 0; }

a, button {cursor: pointer; }
a {color: #333; outline:none; text-decoration: none;}


/*common*/
body{ background: #f7f7f7; }
a:-webkit-any-link{ text-decoration: none; }
.container:after{ content:""; display: block; clear: both; }
.clearfix:after{ content: ""; display: block; clear: both; }
.fl{ float: left; }
.fr{ float: right; }
.tl{ text-align: left; }
.tr{ text-align: right; }
.tc{ text-align: center; }
.color-white {color: white!important; }
.red {color: #fc8080!important; }
.fz12 {font-size: 12px;}
.fz14 { font-size: 14px; }
.wfs { width: 100%; position:relative;}
.p_r{ position:relative;}

@font-face {
    font-family: pingfang;
    src: url(https://www.eyoucms.com/skin/mall/fonts/%E8%8B%B9%E6%96%B9%E9%BB%91%E4%BD%93-%E7%BB%86-%E7%AE%80.ttf);
    font-weight: 400;
    font-style: normal
}

/*悬浮链接*/
.suspension {
	position: fixed;
	z-index: 55;
	right: 10px;
	bottom: 100px;
	width: 80px;
	height: 204px;
}
.suspension-box {
	position: relative;
	float: right;
}
.suspension-box a.a {
	display: block;
	width: 50px;
	height: 50px;
	background-color: #B5B5B5;
	margin-bottom: 1px;
	cursor: pointer;
}
.suspension-box a.back_top {
	background-color: #797979;
}
.suspension-box a.qq:hover,.suspension-box a.tel:hover,.suspension-box a.code:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.suspension-box a.back_top:hover {
	background-color: #FC7878;
}
.suspension-box a i {
	display: block;
	float: left;
	width: 25px;
	margin-left: 15px;
	margin-top: 15px;
	background-image: url(../image/suspension-bg.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}
.suspension-box a.qq i {
	background-position: 0 0;
}
.suspension-box a.tel i {
	background-position: -25px 0;
}
.suspension-box a.code i {
	background-position: 0 -25px;
}
.suspension-box a.back_top i {
	background-position: -28px -25px;
}
.suspension-box div.code {
	position: absolute;
	left: -187px;
	*left: -207px;
	top: 0;
	display: none;
	width: 178px;
	height: 198px;
	padding-left: 10px;
	padding-top: 10px;
	background-color: #fff;
	border: 1px solid #D9D9D9;
}
.suspension-box div.code p {
	width: 155px;
	margin-top: 5px;
	text-align: center;
}
.suspension-box div.code i {
	width: 8px;
	height: 15px;
	position: absolute;
	top: 118px;
	right: -8px;
	background-image: url(../image/trangle-right-suspension.png);
	background-repeat: no-repeat;
}
.suspension-box div.tencent {
	position: absolute;
	left: -187px;
	top: 0px;
	width: 177px;
	height: 85px;
	display:none;
	background-color: #fff;
	border: 1px solid #D7D7D7;
}
.suspension-box div.rmb {
	position: absolute;
	left: -187px;
	top: 51px;
	width: 177px;
	height: 85px;
	display:none;
	background-color: #fff;
	border: 1px solid #D7D7D7;
}
.suspension-box div.tencent p.tencent-p {
	width: 75px;
	float: right;
	margin-right: 18px;
	margin-top: 18px;
	font-size: 16px;
	color: #333;
}
.suspension-box div.rmb p.tencent-p {
	width: 75px;
	float: right;
	margin-right: 18px;
	margin-top: 18px;
	font-size: 16px;
	color: #333;
}
.rmb-p {
	height:45px;
	line-height:45px;
	width: 75px;
	float: right;
	margin-right: 18px;
	margin-top: 18px;
	font-size: 16px;
	color: #333;
}
.suspension-box div.tencent i.tencent-i {
	width: 8px;
	height: 15px;
	position: absolute;
	top: 10px;
	right: -8px;
	text-indent: -9999px;
	background-image: url(../image/trangle-right-suspension.png);
	background-repeat: no-repeat;
}
.suspension-box div.tencent b.tencent-b {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 62px;
	height: 64px;
	background-image: url(../image/circle-tencent.png);
	background-repeat: no-repeat;
}
.suspension-box div.tencent span.tencent-span {
	position: absolute;
	left: 8px;
	top: 7px;
	border-radius: 22px;
	width: 45px;
	height: 48px;
	text-align: center;
	z-index: 99;
	overflow: hidden;
}
.suspension-box div.tencent .tencent-qq {
	position: absolute;
	left: 3px;
	top:0px;
	height: 45px;
	width: 39px;
}
.suspension-box div.rmb i.tencent-i {
	width: 8px;
	height: 15px;
	position: absolute;
	top: 10px;
	right: -8px;
	text-indent: -9999px;
	background-image: url(../image/trangle-right-suspension.png);
	background-repeat: no-repeat;
}
.suspension-box div.rmb b.tencent-b {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 62px;
	height: 64px;
	background-image: url(../image/circle-tencent.png);
	background-repeat: no-repeat;
}
.suspension-box div.rmb span.tencent-span {
	position: absolute;
	left: 8px;
	top: 7px;
	border-radius: 22px;
	width: 45px;
	height: 48px;
	text-align: center;
	z-index: 99;
	overflow: hidden;
}
.suspension-box div.rmb .tencent-qq {
	position: absolute;
	left: 3px;
	top:0px;
	height: 45px;
	width: 39px;
}
.suspension-box div.tel {
	position: absolute;
	left: -187px;
	top: 51px;
	display: none;
	width: 177px;
	height: 85px;
	background-color: #fff;
	border: 1px solid #D7D7D7;
}
.suspension-box div.tel i {
	width: 8px;
	height: 15px;
	position: absolute;
	top: 20px;
	right: -8px;
	background-image: url(../image/trangle-right-suspension.png);
	background-repeat: no-repeat;
}
.suspension-box div.tel strong {
	display: block;
	margin-left: 17px;
	margin-top: 16px;
	font-size: 16px;
	font-weight: normal;
}
.suspension-box div.tel p {
	margin-left: 17px;
	font-size: 23px;
	font-family: arial;
	color: #FD696D;
}


/*分页*/
.pages { }
.pages li a {float: left; margin-left: 5px; color: #333; border-radius: 3px; }
.pages li a i.page-bg{display: inline-block; line-height: 1; position: relative; top: 1px; width: 10px; height: 15px; overflow: hidden; background: url('../image/page_bg.png'); }
.pages li a:hover i.page-bg{background-position:9px 0px; }
.pages li a i.page-right{background-position:0px 15px; }
.pages li a:hover i.page-right{background-position:10px 15px; }
.pages li a:hover {color: #FE5F56; background: #f4f4f4;}
.pages li.active a {background-color: #FE5F56; border-color:#FE5F56 !important; }
.pages li.active a:hover {background-color: #F05A50; }

/*头部*/
.header{ height: 70px; font-size: 14px; background: #fff; position: relative; width: 100%; z-index: 10;}
.header .hd-logo{ float: left; height: 32px; width: 132px; margin-top: 19px; margin-right: 38px;}
.header .hd-nav{ float: left; margin-right: 30px;}
.header .hd-nav .nav-item{ float: left;}
.header .hd-nav .nav-link{ display: block; line-height: 70px; padding: 0 20px; position: relative;}
.header .hd-nav .active .nav-link,
.header .hd-nav .nav-link:hover{ color: #fc8080; }
.header .nav-item-dropdown:hover .nav-link:before{ content: ""; width: 0; height: 0; position: absolute; border-width: 0 5px 5px 5px; border-color: transparent transparent #EA6060 transparent; border-style: solid; bottom: 0; left: 50%; margin-left: -5px; }
.header .nav-item-dropdown .nav-link:after{ content: ""; width: 11px; height: 7px; background: url(../image/icon_top.png) no-repeat center top; display: inline-block; margin-left: 5px;}
.header .nav-item-dropdown:hover .nav-link:after{ background-position: center bottom; }
.header .hd-nav .nav-item-layer{ height: 0; opacity: 0; overflow: hidden; transition: all .3s; position: absolute; left: 0; right: 0; top: 70px; background: #fff;}
.header .hd-nav .nav-item-layer:before{ content: ""; position: absolute; height: 0; left: 0; right: 0; top: 0; border-top: 1px solid #EA6060; }
.header .nav-item-dropdown:hover .nav-item-layer{ height: 330px; opacity: 1;}
.header .hd-nav .nav-item-layer .picon-hot{ margin-left: 10px; background: url(../image/menu_icon01.png) no-repeat; width: 37px; height: 18px; display: inline-block; vertical-align: text-top; }
.header .hd-nav .nav-item-layer .picon-new{ margin-left: 10px; background: url(../image/menu_icon02.png) no-repeat; width: 37px; height: 18px; display: inline-block; vertical-align: text-top; }
.header .hd-nav .nil-r-1{ padding-top: 24px; }
.header .hd-nav .nav-product{ float: left;     width: 167px;  margin-right: 75px;}
.header .hd-nav .nav-product dt{ border-bottom: 1px solid #DCDCDC; padding-bottom: 19px; margin-bottom: 25px; color: #bbb; font-size: 16px;}
.header .hd-nav .nav-product dt a{ font-size: 16px; color: #888;}
.header .hd-nav .nav-product dd{ margin-bottom: 15px; }
.header .hd-nav .nav-product dd a{ font-size: 14px; }
.header .hd-nav .nav-product dd a:hover{ color: #fc8080; }
.header .hd-nav .nav-product-last{ margin-right: 0; width: 232px; }
.header .hd-nav .nav-product-last dd{ float: left; width: 50%; }
.header .hd-nav .nil-r-2{ border-top: 1px solid #DCDCDC; line-height: 20px; padding-top: 20px; padding-bottom: 30px;}
.header .hd-nav .nav-product-row dt,
.header .hd-nav .nav-product-row dd{ float: left; margin-right: 30px; }
.header .hd-nav .nav-product-row dt { color: #bbb; }
.header .hd-news{ float: right; }
.header .hd-news .title{ float: left; font-size: 14px; color: #888; margin-right: 5px;}
.header .hd-news .title i{ float: left; width: 18px; height: 16px; background: url(../image/notice.png); margin: 1px 5px 0 0;}
.header .hd-news .bd{ float: left; width: 300px; }
.header .hd-news .news-item{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.header .hd-search{ float: left; height: 34px; border-radius: 17px; border: 1px solid #fff; width: 220px; position: relative; margin-top: 19px; -webkit-transition: all .2s; -moz-transition: all .2s; transition: all .2s; margin-right: -90px; z-index: 2; background: #fff;}
.header .hd-search .hd-icon-search{ width: 34px; height: 34px; position: absolute; top: 0; left: 0; background: url(../image/icon_search.png) no-repeat center center; cursor: pointer;}
.header .hd-search .search-input{ border: 0 none; outline: none; width: 170px; height: 26px; position: absolute; right: 34px; top: 3px;display:none}
.header .hd-search.open .search-input {display:block}
.header .hd-search.open{ border-color: #E0E0E0; }
.header .hd-user{ margin-top: 20px; float: right; line-height: 30px;}
.header .hd-btn{ width: 78px; height: 28px; line-height: 28px; text-align: center; color: #fff; background: #EC4544; border-radius: 2px; border: 1px solid #EC4544; float: right; margin-left: 10px; transition: all .2s;}
.header .hd-btn:hover{ background: #ff5f5f; color: #fff;}
.header .hd-btn-login{ background: #fff; color: #EC4544; }
.header .hd-btn-login:hover{ background: #fff4f4; color: #EC4544;}
.header .hd-logout{ color: #EC4544; float: right; margin-left: 15px; padding-right: 18px; background: url(../image/logout.png) no-repeat right center; }
.header .hd-welcome{ float: right; }

/*底部*/
.footer{ background: #222132; overflow: hidden; width: 100%; color: #888; padding: 27px 0 35px;}
.footer a{ color: #888; transition: all .1s; }
.footer a:hover{ color: #e8e8e8; }
.footer-service { margin-right: -26px; margin-bottom: 38px; padding-left: 69px; }
.footer-service .service-item{ float: left; height: 60px; width: 240px; /*border: 1px solid #343342;*/ margin-right: 26px; }
.footer-service .service-item i{ width: 50px; height: 45px; float: left; margin: 17px 17px 0 29px; opacity: .8; -webkit-transform: scale(.6); -moz-transform: scale(.6); transform: scale(.6);}
.footer-service .service-item.item-1 i{ background: url(../image/bottom_icon01.png) no-repeat center center; background-size: contain;}
.footer-service .service-item.item-2 i{ background: url(../image/bottom_icon02.png) no-repeat center center; background-size: contain;}
.footer-service .service-item.item-3 i{ background: url(../image/bottom_icon03.png) no-repeat center center; background-size: contain;}
.footer-service .service-item.item-4 i{ background: url(../image/bottom_icon04.png) no-repeat center center; background-size: contain;}
.footer-service .service-item .text{ font-size: 16px; color: #ccc; float: left; margin-top: 29px;}
.footer-splite{ height: 0; display: block; clear: both; border-bottom: 1px solid #393854; }
.footer-links{ margin-bottom: 60px; padding-top: 40px; padding-left: 69px;}
.footer-links .article-link{ width: 209px; height: 226px; float: left; /*border-right: 1px solid #343342;*/ margin-right: 23px; line-height: 2; font-size: 14px;}
.footer-links .article-link dt{ color: #ccc; font-size: 16px; margin-bottom: 10px; line-height: 2;font-weight: 300;}
.footer-links .article-link dd{ line-height: 2; }
.footer-links .contact{ width: 145px; float: left; }
.footer-links .contact h3{ font-size: 16px; color: #ccc; line-height: 2; margin-bottom: 10px;}
.footer-links .contact .tel{ margin-bottom: 15px;}
.footer-links .contact .tel .text{ font-size: 16px; margin-bottom: 5px;}
.footer-links .contact .tel .number{ font-size: 22px; color: #fff; font-family: Arial,"Microsoft Yahei","HanHei SC",PingHei,"PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;}
.footer-links .contact .qrcode{ margin-right: -18px; }
.footer-links .contact .qrcode-item{ float: left; width: 110px; margin-right: 18px; text-align: center; }
.footer-links .contact .qrcode-item p{ font-size: 14px; color: #ccc; margin-top: 12px; }
.footer-copyright{ line-height: 20px; font-size: 14px; text-align: center; }
.footer-copyright p{ margin-bottom: 9px; }

/*首页*/
.index-page .index-title{ font-size: 16px; text-align: center; padding: 50px 0; }
.index-page .index-title h2{ font-size: 36px; font-family: pingfang,"Microsoft Yahei","HanHei SC",PingHei,"PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;}
.index-page .index-title .index-info-one{width:840px; margin:0 auto; text-align:center; height: 62px; }
.index-page .index-title a{ float:left; width: 100px; height: 36px; line-height: 36px; border: 1px solid #DBDCE0; text-align: center; font-size: 14px; display: block; margin: 25px 20px auto 0; transition: all .2s;}
.index-page .index-title a:hover{ background: #F96A69; color: inherit; border-color: #F96A69; color: #fff;}
.index-page .index-title .cur{ background: #F96A69; color: inherit; border-color: #F96A69; color: #fff;}
.index-page .banner{ height: 525px; width: 100%; overflow: hidden; background: #fff;}
.index-page .banner-slide{ width: 1920px; margin-left: -260px; }
.index-page .banner-slide .hd{ position: relative; z-index: 10; width: 1200px; margin: 0 auto; height: 0; font-size: 0;}
.index-page .banner-slide .hd ul{ position: absolute; bottom: 66px; left: 50%; -webkit-transform: translate(-50%); -moz-transform: translate(-50%); transform: translate(-50%);}
.index-page .banner-slide .hd li{ float: left; height: 2px; width: 60px; margin: 0 3px; padding: 5px 0; position: relative; cursor: pointer; opacity: .5; transition: all .2s; overflow: hidden; text-indent: 100px;}
.index-page .banner-slide .hd li:before{ content: ""; position: absolute; left: 0; top: 5px; width: 100%; border-bottom: 2px solid #fff; }
.index-page .banner-slide .hd li.on{ opacity: 1; }
.index-page .banner-slide .btn-wrap{ position: relative; z-index: 11; }
.index-page .banner-slide .btn-wrap a{ width: 44px; height: 80px; position: absolute; bottom: 220px;outline:none;
background: rgba(0,0,0,.2) url(../image/icon_banner.png) no-repeat center center; transition: all .5s; opacity: 0; border-radius: 5px;}
.index-page .banner-slide .btn-wrap .prev{ left: 0; background-position: 12px center;}
.index-page .banner-slide .btn-wrap .next{ right: 0; background-position: -49px center; }
.index-page .banner-slide:hover .btn-wrap a{ opacity: .3; }
.index-page .banner-slide .btn-wrap a:hover{ opacity: 1; }
.index-page .banner-under{ height: 48px; background: rgba(0,0,0,.5); position: relative; z-index: 10; top: -48px; overflow: hidden;}
.index-page .banner-under-text li{ float: left; color: #fff; font-size: 16px; line-height: 48px; margin: 0 50px 0 23px;}
.index-page .banner-under-text li:before{ background: url(../image/banner_icon.png) no-repeat left center; content: ""; width: 28px; height: 48px; float: left; margin-right: 6px; }
.index-page .banner-under-text li.item-1:before{ background-position: -28px center; }
.index-page .banner-under-text li.item-2:before{ background-position: -85px center; }
.index-page .banner-under-text li.item-3:before{ background-position: -55px center; }
.index-page .banner-under-text li.item-4:before{ background-position: 0px center; }
.index-page .banner-under-text li .num{ font-size: 24px; margin-right: 10px; float: left;}
.index-page .banner-under-text li .plus{ font-size: 24px; margin-right: 10px; float: left;}
.index-page .main-category{ padding: 25px 0;}
.index-page .main-category .list li{ float: left; padding: 15px 0 15px 0; border-left: 15px solid #F4F5F9; width: 25%; background: #fff;}
.index-page .main-category .list li.item-1{ border-left: 0 none; }
.index-page .main-category .list li:before{ float: left; width: 60px; height: 60px;     margin-top: 12px;content: ""; background: url(../image/faster_icon.png) no-repeat left center; margin-right: 6px; margin-left: 26px;}
.index-page .main-category .list li.item-1:before{ background-position: 0 center; }
.index-page .main-category .list li.item-2:before{ background-position: -60px center; }
.index-page .main-category .list li.item-3:before{ background-position: -120px center; }
.index-page .main-category .list li.item-4:before{ background-position: -180px center; }
.index-page .main-category .list li .text{ float: left;     padding-top: 20px; padding-bottom: 15px; margin-right: -10px;}
.index-page .main-category .list li h3{ font-size: 20px; margin-bottom: 3px;}
.index-page .main-category .list li a:hover h3{ color: #ff6600; }
.index-page .main-category .list li p{ font-size: 14px; color: #888;}
.index-page .solution{ width: 100%; overflow: hidden; padding-bottom: 10px;}
.index-page .solution .swiper-container{ width: 1730px; margin-left: -265px; }
.index-page .solution .swiper-slide{ width: 330px; height: 420px; position: relative; cursor: pointer; overflow: hidden;}
.index-page .solution .swiper-slide .img img{ width: 330px; height: 420px; transition: all .4s;}
.index-page .solution .swiper-slide:hover .img img{ transform: scale(1.05); }
.index-page .solution .swiper-slide .text{ position: absolute; left: 0; right: 0; top: 0; bottom: 0; color: #fff; padding: 0 21px;}
.index-page .solution .swiper-slide-active .text,
.index-page .solution .swiper-slide-duplicate-active .text{ display: none; }
.index-page .solution .swiper-slide .text h3{ font-size: 24px; margin-top: 350px;}
.index-page .solution .swiper-slide .text p{  font-size: 14px; margin-top: 6px; }
.index-page .solution .swiper-slide .extra{ position: absolute; z-index: 2; background: rgba(0,0,0,.8); top: 204px; bottom: 0; padding: 0 20px; text-align: center; -webkit-transform: translate(0,420px); -moz-transform: translate(0,420px); transform: translate(0,420px); transition: all .2s;}
.index-page .solution .swiper-slide .extra h3{ font-size: 24px; margin: 30px 0 20px; color: #fff;}
.index-page .solution .swiper-slide .extra p{ font-size: 14px; color: #888; margin-bottom: 22px; line-height: 25px; color: #fff;}
.index-page .solution .swiper-slide .extra .btn-wrap{ overflow: hidden; padding-left: 6px; }
.index-page .solution .swiper-slide .extra .btn-wrap a{ float: left; width: 130px; height: 40px; line-height: 40px; color: #fff; border: 1px solid #fff; margin-right: 16px; transition: all .2s; font-size: 14px;}
.index-page .solution .swiper-slide .extra .btn-wrap a:hover{ background: #F96A69; color: #fff; border-color: #F96A69}
.index-page .solution .swiper-slide .extra .btn-wrap a.btn-2{ background: #fff; color: #000; margin-right: 0;}
.index-page .solution .swiper-slide .extra .btn-wrap a.btn-2:hover{ background: #F96A69; color: #fff;}
.index-page .solution .swiper-slide-active .extra,
.index-page .solution .swiper-slide-duplicate-active .extra{ -webkit-transform: translate(0,0); -moz-transform: translate(0,0); transform: translate(0,0); }
.index-page .solution-more{ height: 600px; background: #151515; width: 100%; overflow: hidden; }
.index-page .solution-more-slide .container{ height: 600px; position: relative; }
.index-page .solution-more-slide .hd{ width: 255px; position: absolute; z-index: 2; background: #000000; height: 600px; left: 0; top: 0; color: #fff;}
.index-page .solution-more-slide .hd ul{ margin-top: 30px; }
.index-page .solution-more-slide .hd li{ height: 90px; padding-top: 20px; position: relative; cursor: default; transition: all .5s;cursor:pointer}
.index-page .solution-more-slide .hd li:after{ content: ""; width: 80%; border-bottom: 1px solid #2A2A2A; position: absolute; left: 10%; bottom: 0; }
.index-page .solution-more-slide .hd li i{ margin-left: 20px; margin-right: 20px; float: left; background: url(../image/2f_icon.png) no-repeat; width: 40px; height: 40px; position: relative; z-index: 2; transition: all .2s;}
.index-page .solution-more-slide .hd li.item-1 i{ background-position: 0 0; }
.index-page .solution-more-slide .hd li.item-2 i{ background-position: -40px 0; }
.index-page .solution-more-slide .hd li.item-3 i{ background-position: -80px 0; }
.index-page .solution-more-slide .hd li.item-4 i{ background-position: -120px 0; }
.index-page .solution-more-slide .hd li.item-5 i{ background-position: -160px 0; }
.index-page .solution-more-slide .hd li.item-6 i{ background-position: -200px 0; }
.index-page .solution-more-slide .hd li.item-1.on i{ background-position: 0 -40px; }
.index-page .solution-more-slide .hd li.item-2.on i{ background-position: -40px -40px; }
.index-page .solution-more-slide .hd li.item-3.on i{ background-position: -80px -40px; }
.index-page .solution-more-slide .hd li.item-4.on i{ background-position: -120px -40px; }
.index-page .solution-more-slide .hd li.item-5.on i{ background-position: -160px -40px; }
.index-page .solution-more-slide .hd li.item-6.on i{ background-position: -200px -40px; }
.index-page .solution-more-slide .hd li:before{background: #fd7d7d; /* Old browsers */ background: -moz-linear-gradient(left,  #fd7d7d 0%, #f05251 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left,  #fd7d7d 0%,#f05251 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right,  #fd7d7d 0%,#f05251 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd7d7d', endColorstr='#f05251',GradientType=1 ); /* IE6-9 */ content: ""; position: absolute; top: 0; left: 0; bottom: 0; z-index: 1;  width: 0; transition: all .2s;}
.index-page .solution-more-slide .hd li.on:before{ width: 100%; }
.index-page .solution-more-slide .hd li.on:after{ display: none; }
.index-page .solution-more-slide .hd .text{ position: relative; z-index: 2; }
.index-page .solution-more-slide .hd .text h3{ font-size: 18px; margin-bottom: 5px; }
.index-page .solution-more-slide .hd .text p{ font-size: 14px; color: #fff; color: rgba(255,255,255,.7); }
.index-page .solution-more-slide .bd{ width: 1920px; margin-left: -360px; }
.index-page .solution-more-slide .bd li.item-1{ background: url(../image/2f_img01.jpg) no-repeat center top; }
.index-page .solution-more-slide .bd li.item-2{ background: url(../image/2f_img02.jpg) no-repeat center top; }
.index-page .solution-more-slide .bd li.item-3{ background: url(../image/2f_img03.jpg) no-repeat center top; }
.index-page .solution-more-slide .bd li.item-4{ background: url(../image/2f_img04.jpg) no-repeat center top; }
.index-page .solution-more-slide .bd li.item-5{ background: url(../image/2f_img05.jpg) no-repeat center top; }
.index-page .solution-more-slide .bd li.item-6{ background: url(../image/2f_img06.jpg) no-repeat center top; }
.index-page .solution-more-slide .bd .inner{ padding-left: 360px; padding-top: 73px; color: #fff; }
.index-page .solution-more-slide .bd h2{ font-size: 24px; margin-bottom: 38px;}
.index-page .solution-more-slide .bd .intro{ font-size: 14px; margin-bottom: 40px;}
.index-page .solution-more-slide .bd .intro dt{ margin-bottom: 10px; }
.index-page .solution-more-slide .bd .intro dd{ color: #999; margin-bottom: 20px; line-height: 1.8;}
.index-page .solution-more-slide .bd .btn-wrap{ overflow: hidden; margin-bottom: 40px;}
.index-page .solution-more-slide .bd .btn-wrap a{ width: 130px; height: 40px; border: 1px solid #fff; color: #fff; line-height: 40px; text-align: center; font-size: 14px; float: left; margin-right: 15px; transition: all .2s;}
.index-page .solution-more-slide .bd .btn-wrap a.btn-2{ background: #fff; color: #000; }
.index-page .solution-more-slide .bd .btn-wrap a:hover{ background: #ff5f5f; color: #fff; border-color: #ff5f5f; opacity: .9; }
.index-page .solution-more-slide .bd .btn-wrap a.btn-2:hover{ background: #ff5f5f; color: #fff; border-color: #ff5f5f; opacity: .9; }
.index-page .solution-more-slide .bd .example h3{ margin-bottom: 15px; }
.index-page .solution-more-slide .bd .example li{ float: left; margin-right: 20px; }
.index-page .video .inner{ display: block; cursor: pointer; }
.index-page .video .inner img{ transition: all .4s; }
.index-page .video .inner:hover img{ transform: scale(1.05); }
.index-page .video .vr-big{ float: left; width: 766px; height: 484px; margin-bottom: 20px; position: relative; overflow: hidden;}
.index-page .video .vr-big .text{ position: absolute; left: 0; right: 0; bottom: 0; color: #fff; padding: 0 30px 20px 30px; font-size: 16px;}
.index-page .video .vr-big .text h3{ font-size: 24px; margin-bottom: 4px;}
.index-page .video .vr-big .link{ width: 130px; height: 48px; font-size: 16px; line-height: 48px; text-align: center; position: absolute; z-index: 2; right: 30px; bottom: 20px; border: 1px solid #eee; color: #fff; transition: all .2s;}
.index-page .video .vr-big .link:hover{ background: #F96A69; border-color: #F96A69; color: #fff; }
.index-page .video .vr-big .play{ width: 83px; height: 83px; background: rgba(0,0,0,.4) url(../image/3f_play_left.png) no-repeat center center; position: absolute; left: 50%; top: 50%; margin: -21px 0 0 -21px; border-radius: 50%; cursor: pointer; transition: all .2s;}
.index-page .video .vr-big .play:hover{ background-color: rgba(0,0,0,.6); }
.index-page .video .vr-right{ float: left; width: 412px; margin-left: 22px; }
.index-page .video .vr-small{ margin-bottom: 20px; width: 412px; height: 232px; position: relative; overflow: hidden;}
.index-page .video .vr-small .text{ position: absolute; left: 0; right: 0; bottom: 0; padding: 0 20px 20px 20px; font-size: 16px; color: #fff; }
.index-page .video .vr-small .link{ width: 30px; height: 30px; position: absolute; background: url(../image/3f_icon.png) no-repeat center center; right: 20px; bottom: 14px; z-index: 2; transition: all .2s;}
.index-page .video .vr-small .link:hover{ background-image: url(../image/3f_icon_02.png); }
.index-page .video .vr-small .play{ width: 51px; height: 51px; background: rgba(0,0,0,.4) url(../image/3f_play_right.png) no-repeat center center; position: absolute; left: 50%; top: 50%; margin: -25px 0 0 -25px; border-radius: 50%; cursor: pointer; transition: all .2s;}
.index-page .video .vr-small .play:hover{ background-color: rgba(0,0,0,.6); }
.index-page .news-wrap{ background: #fff; padding: 42px 0; }
.index-page .news-item{ width: 340px; margin: 0 26px 0 32px; float: left; }
.index-page .news-title{ font-size: 24px; margin-bottom: 26px; }
.index-page .news-list{ margin-bottom: 17px; }
.index-page .news-list dt{ height: 180px; position: relative; margin-bottom: 20px; overflow: hidden;}
.index-page .news-list dt img{ width: 340px; height: 180px; transition: all .4s;}
.index-page .news-list dt a:hover img{ transform: scale(1.05); }
.index-page .news-list dt .text{ position: absolute; left: 0; right: 0; color: #fff; bottom: 10px; font-size: 15px; padding: 0 24px; line-height: 1.5; height: 44px; overflow: hidden; transition: all .2s;}
/*.index-page .news-list dt a:hover .text{  color: #ec6061;}*/
.index-page .news-list dd{ margin-bottom: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.index-page .news-list dd a{ font-size: 14px; color: #909499;}
.index-page .news-list dd a:hover{ color: #ec6061;}
.index-page .news-item .more{ width: 100px; height: 36px; display: block; line-height: 36px; border: 1px solid #E4E4E4; text-align: center; transition: all .1s;}
.index-page .news-item .more:hover{ background: #F96A69; border-color: #F96A69; color: #fff; }
.index-page .service .index-title p{ font-size: 16px;  color: #919599; margin-top: 30px;}
.index-page .service-list{ margin-right: -13px; }
.index-page .service-item{ float: left; width: 290px; margin-right: 13px; background: #fff; -webkit-transition: all .2s; -moz-transition: all .2s; transition: all .2s;}
.index-page .service-item:hover{box-shadow: 0 7px 39px rgba(0,0,0,.1)}
.index-page .service-item .title{ width: 290px; height: 160px; }
.index-page .service-item.item-1 .title{ background: url(../image/5f_bg01.jpg) no-repeat center top; }
.index-page .service-item.item-2 .title{ background: url(../image/5f_bg02.jpg) no-repeat center top; }
.index-page .service-item.item-3 .title{ background: url(../image/5f_bg03.jpg) no-repeat center top; }
.index-page .service-item.item-4 .title{ background: url(../image/5f_bg04.jpg) no-repeat center top; }
.index-page .service-item .title h3{ font-size: 24px; text-align: center; padding-top: 106px; color: #fff; }
.index-page .service-item .info{ height: 318px; border: 1px solid #E7E9EC; border-top: 0; }
.index-page .service-item .info-list{ margin-left: 58px; margin-top: 28px; }
.index-page .service-item .info-list li{ margin-bottom: 18px; position: relative; }
.index-page .service-item .info-list li:before{ width: 6px; height: 6px; border-radius: 50%; background: #C1C5CB; content: ""; position: absolute; left: -16px; top: 7px;}
.index-page .service-item .info-list h4{ font-size: 14px; color: #616366; font-weight: 700; margin-bottom: 3px; line-height: 20px;}
.index-page .service-item .info-list p{ font-size: 14px; color: #919499; }
.index-page .service-item .more{ width: 200px; height: 40px; display: block; margin: 0 auto; color: #F96A69; text-align: center; line-height: 40px; font-size: 16px; border: 1px solid #F96A69; transition: all .2s;}
.index-page .service-item .more:hover{ background: #F96A69; color: #fff; }
.index-page .example{ padding-bottom: 34px; }
.index-page .example-list{ margin-right: -18px; }
.index-page .example-list .example-item{ float: left; width: 286px; height: 250px; overflow: hidden; margin: 0 18px 18px 0; text-align: center;  background: #fff; position: relative; transition: all .2s;}
.index-page .example-list .example-item .img{ width: 286px; }
.index-page .example-list .example-item .info{ height:60px; overflow: hidden; position: absolute; left: 0; right: 0; bottom: 0; background: #fff; transition: all .2s;}
.index-page .example-list .example-item:hover .info{ height: 315px; }
.index-page .example-list .example-item .logo{ margin-top: 0px; margin-bottom: 8px; height: 80px; transition: all .2s;}
.index-page .example-list .example-item .title{ margin-top: 0px; margin-bottom: 8px;padding: 18px; height: 80px; transition: all .2s;font-size: 16px;}
.index-page .example-list .example-item:hover{ box-shadow: 0 7px 39px rgba(0,0,0,.1); }
.index-page .example-list .example-item:hover .logo{ margin-top: 25px; }
.index-page .example-list .example-item:hover .title{ margin-top: 25px; }
.index-page .example-list .example-item .cate{ font-size: 14px; color: #646466; margin-bottom: 35px;}
.index-page .example-list .example-item .intro{ font-size: 14px; color: #666; padding: 0 30px; text-align: left; line-height: 1.8;}

/*列表页*/
.filter{ line-height: 48px; background: #fff; padding: 10px 20px 10px 30px;}
.filter-list{ overflow: hidden; }
.filter-list dt{ float: left; width: 64px; font-weight: 700; line-height: 48px; position: relative;}
.filter-list dt:after{ content: ""; position: absolute; right: 12px; top: 22px; border: 1px solid #333; border-width: 0 1px 1px 0; width: 4px; height: 4px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg);}
.filter-list dd{ border-bottom: 1px dotted #e0e0e0; margin-left: 64px; overflow: hidden;}
.filter-list:last-of-type dd{ border-bottom: 0 none; }
.filter-list .filter-item{ color: #8d8d91; font-size: 14px; line-height: 14px; height: 14px; float: left; border-right: 1px solid #e0e0e0; padding: 0 18px; margin: 17px 0;}
.filter-list .filter-item:last-child{ border-right: 0 none; }
.filter-list .filter-item.active,
.filter-list .filter-item:hover{ color: #fc8080; }
.category-goods{ margin-bottom: 40px; }
.boutique-hd{ padding: 24px 0; line-height: 30px; border-bottom: 1px solid #E0E0E0;}
.boutique-sort{ font-size: 12px; }
.boutique-sort a {float: left; width: 50px; height: 30px; line-height: 30px; color: #333; text-align: center; background-color: #fff; border-right: 1px solid #F2F2F2; }
.boutique-sort a.active {color: #fff; background-color: #FC7878; }
.boutique-sort .hd{ float: left; font-size: 12px;}
.boutique{ padding-top: 30px; }
.boutique .items{ margin-right: -8px; }
.boutique .items-li {float: left; width: 294px; margin-right: 8px; margin-bottom: 8px; padding-bottom: 10px; background-color: #fff; position: relative; }
.boutique .items-li:nth-child(4n)  {margin-right: 0px;margin-bottom: 11px;padding-bottom: 10px;position: relative;}
.boutique .items-li .activity-tag {position: absolute; left: 10px; top: 0px; width: 82px; height: 93px; z-index: 2; }
.boutique .items-li .activity-tag-80 {width: 105px; height: 110px; background: url('../image/activity_tag_80_little.png') no-repeat 0 0; }
.boutique .items-li .activity-tag-75 {background: url('../image/activity_tag_75.png') no-repeat 0 0; } 
.boutique .items-li .activity-tag-60 {width: 100px; height: 100px; background: url('../image/activity_tag_60.png') no-repeat 0 0; }
.boutique .items-li .activity-tag-50 {width: 100px; height: 100px; background: url('../image/activity_tag_50.png') no-repeat 0 0; }
.no-activity .boutique .items-li .activity-tag {display: none; } 
.boutique .active {box-shadow:0 0 10px rgba(0,0,0,.2); }
.boutique .items-li .wrap_div {height:54px; position:relative; z-index: 2; background:white; }
.boutique .items-li .wrap_div p {height:20px; overflow:hidden; text-align:center; font-size: 12px; color: #71cd9c; }
.boutique .items-li .wrap_div div {position:absolute; left:0; bottom:0; z-index:100; width: 100%; background:white; }
.boutique .items-li .wrap_div p {text-align: center; margin-top: 5px; height: 0px; overflow: hidden; _line-height:0; -webkit-transition: all .3s; -moz-transition: all .3s; transition: all .3s;}
.boutique .items-li.active .wrap_div p{ height: 20px; }
.boutique .items-li>a {display: block; width: 294px; height: 294px; text-align: center; line-height: 290px; overflow: hidden;}
.boutique .items-li img {max-width: 294px;vertical-align: middle;}
.boutique .items-li .title {float:left; width: 100%; padding-top: 10px; padding-bottom: 5px; font-weight: normal; line-height: 22px; text-align: center; }
.boutique .items-li .title a {color: #333; }
.boutique .items-li .title a:hover {color: #EF353D; } 
.boutique .items-li .description {display: block; font-size: 12px; color: #919191; text-align: center; }
.boutique .items-li .description a {color: #919191; }
.boutique .items-li .price-attente {margin-top: 5px; }
.boutique .items-li .price-attente .price {float: left; margin-left: 10px; font-size: 13px; color: #ef353d; font-weight: bold}
.boutique .items-li .price-attente .price .pro_r{padding: 2px 5px; font-weight: normal;background: #ff9900;color: #fff;font-size: 12px;vertical-align: text-bottom;}
.boutique .items-li .price-attente .attente {float: right; margin-right: 10px; padding-left: 15px; font-size: 12px; color: #71cd9c; background-image: url(../image/cover-page-attente.png); background-repeat: no-repeat; background-position: left center; cursor: pointer; }

/*
 * 封面页--列表页
 * jiao
 * 2014-09-05
 */
/*left css*/
.cover-page-list {width:1200px;margin: 0 auto;}
.cover-page-list .left {
    position: relative;
    left:0px;
    /*float: left;*/
    width: 1200px;
    *width: 274px;
   /*border-top:1px solid #c7c7c7;*/

    background-color: #fff;
}
.cover-page-list .left .template {
    font-size: 16px;
    font-weight: normal;
    line-height: 50px;
    color: #fc7878;
}
.cover-page-list .left .icons a {
    /*float: left;*/
    padding: 3px 10px;
    color: #5A5A5A;
}
.cover-page-list .left .icons a:hover {
    text-decoration: none;
}
.cover-page-list .left .icons a.now {
    color: #fff;
    background-color: #FC7878;
}
.cover-page-list .left .conditions {
    border-bottom: 1px dotted #C7C7C7;
}
.cover-page-list .left .conditions dt {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
.cover-page-list .left .conditions dt b {
    /*float: left;*/

    line-height: 25px;
    color: #fc7878;
    text-indent: 15px;
    padding-left: 10px;
	
	width:120px;

    background-position: left center;
}
.cover-page-list .left .conditions dt b span {
    float: right;
    *margin-top: -23px;
    font-weight: normal;
}
.cover-page-list .left .conditions dt.now b {

}
.cover-page-list .left .conditions dd {
	padding-top:15px;
    display: block;
    padding-bottom: 15px;
}
.cover-page-list .left .conditions dd b{
    /*float: left;*/
	color: #fc7878;
	font-size:14px;
    margin-left: 10px;
    line-height: 25px;
    white-space: nowrap;
}
.cover-page-list .left .conditions dd a {
    /*float: left;*/
    margin-left: 10px;
    margin-right: 20px;
    line-height: 25px;
    color: #5A5A5A;
    white-space: nowrap;
}
.cover-page-list .left .conditions dd a.template-a,
.cover-page-list .left .conditions dd a:hover {
    color: #ef353d;
}
/*also-like css*/
.cover-page-list .left .also-like h4 {
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fc7878;
    border-bottom: 1px dotted #C7C7C7;
}
.cover-page-list .left .also-like .likes {
    width: 200px;
    margin: 0 auto;
}
.cover-page-list .left .also-like .likes-li {
    position: relative;
    margin-top: 35px;
}
.cover-page-list .left .also-like .likes-li a {
    display: block;
}
.cover-page-list .left .also-like .likes-li img {
    width: 165px;
    height: 165px;
    margin-left: 17px;
}
.cover-page-list .left .also-like .likes-li strong {
    /*display: inline-block;*/
    float: none;
    /*height: 25px;*/
    padding-top: 5px;
    font-weight: normal;
    line-height: 20px;
    overflow: hidden;
}
.cover-page-list .left .also-like .likes-li strong a {
    color: #555;
}
.cover-page-list .left .also-like .likes-li i {
    display: block;
    font-style: normal;
    color: #ef353d;
    text-align: center;
}
.cover-page-list .left .also-like .likes-li .hot,
.cover-page-list .left .also-like .likes-li .commend {
    position: absolute;
    right: -5px;
    top: -15px;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background-repeat: no-repeat;
}
.cover-page-list .left .also-like .likes-li .hot {
    background-image: url(../image/cover-page-hot.png);
}
.cover-page-list .left .also-like .likes-li .commend {
    background-image: url(../image/cover-page-commend.png);
}
/*right css*/
.cover-page-list .right {
    position: relative;
    left: 0;
}
.cover-page-list .right .sort {
    padding-bottom: 0px;
    border-bottom: 1px solid #E0E0E0;
}
.cover-page-list .right .sort a.activity {
    color: #ef353d;
}
.cover-page-list .right .sort  .hide-left {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #FC7878;
    cursor: pointer;
}
.cover-page-list .left .template span{
    float: left;
    width: 34px;
    height: 34px;
    background-color: #dcdcdc;
    cursor: pointer;position: absolute;
    right: -34px;
    z-index:2;
}
.cover-page-list .left .template span:hover{
    background-color: #75caee;
}
.cover-page-list .left .template span i {
    float: left;
    width: 10px;
    height: 15px;
    margin-top: 10px;
    margin-left: 12px;
    background-image: url(../image/cover-page-sjx-3.png);
    background-repeat: no-repeat;
}
.cover-page-list .left .template span i.now {
    background-image: url(../image/cover-page-sjx-4.png);
}
.cover-page-list .right .sort-icons {
    /*float: left;*/
    margin-top: 5px;
    padding-left: 40px;
    font-size: 12px;
    color: #333;
}
.cover-page-list .right .sort-icons span {
    /*float: left;*/
    line-height: 30px;
}
.cover-page-list .right .sort-icons a {
    float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    color: #333;
    text-align: center;
    background-color: #fff;
    border-right: 1px solid #F2F2F2;
}
.cover-page-list .right .sort-icons a:hover {
    text-decoration: none;
}
.cover-page-list .right .sort-icons a.now {
    color: #fff;
    background-color: #FC7878;
}
.cover-page-list .right .sort .totals {
    /*float: right;*/
    margin-top: 20px;
    margin-right: 50px;
    font-size: 12px;
}
.cover-page-list .right .sort .totals i {
    font-style: normal;
    color: #DE0000;
}
/*boutique*/
@media (max-width: 1024px) {
    body .cover-page-index .boutique{
        padding: 20px;
    }
    body .cover-page-index .boutique .canvas{
        width: 100%;
    }
    body .cover-page-index .boutique .items-li{
        width: 284px;
    }
    body .cover-page-index .boutique .items-li > a{
        width: 284px;
        height: 284px;
    }
    body .cover-page-index .boutique .items-li img{
        max-height: 284px;
        max-width: 284px;
        vertical-align: inherit;
    }
}
.cover-page-list .right .boutique {
    padding-top: 30px;
    padding-left: 0px;
	padding-left:0px;

}


/*商品分类筛选项*/
.filter{ line-height: 48px; background: #fff; padding: 10px 20px 10px 30px; font-size:14px;}
.filter-list{ overflow: hidden; }
.filter-list dt{ float: left; width: 64px; font-weight: 700; line-height: 48px; position: relative;}
.filter-list dt:after{ content: ""; position: absolute; right: 12px; top: 22px; border: 1px solid #333; border-width: 0 1px 1px 0; width: 4px; height: 4px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg);}
.filter-list dd{ border-bottom: 1px dotted #e0e0e0; margin-left: 64px; overflow: hidden;}
.filter-list:last-of-type dd{ border-bottom: 0 none; }
.filter-list .j-demo-l-dd a{ color: #8d8d91; font-size: 14px; line-height: 14px; height: 14px; float: left; border-right: 1px solid #e0e0e0; padding: 0 18px; margin: 17px 0;}
.filter-list .j-demo-l-dd a:last-child{ border-right: 0 none; }
.filter-list .j-demo-l-dd a.cur,
.filter-list .j-demo-l-dd a:hover{ color: #fc8080; }


/*栏目列表分页*/
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0 30px 0;
	border-radius: 4px
}
.pagination>li {
	display: inline
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: #2a6496;
	background-color: #eee;
	border-color: #ddd
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #428bca;
	border-color: #428bca
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd
}
.pagination-lg>li>a, .pagination-lg>li>span {
	padding: 10px 16px;
	font-size: 18px
}
.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px
}
.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px
}
.pagination-sm>li>a, .pagination-sm>li>span {
	padding: 5px 10px;
	font-size: 12px
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}

@media (max-width:640px) {
	.index-page .banner{
		height: 230px;
	}
	.index-page .banner-slide{ 
		width: auto; 
	}
	.index-page .banner-slide ul li img{
		height: 230px!important;
	}
	.index-page .main-category .list li{
		width: 100%;
		padding: 0;
		border-left: 0 none;
	}
}